<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>com.atex.milan.svnuser.servlet.listener.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.atex.milan.svnuser.servlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disableuserservlet</servlet-name>
        <servlet-class>com.atex.milan.svnuser.servlet.DisableUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enableuserservlet</servlet-name>
        <servlet-class>com.atex.milan.svnuser.servlet.EnableUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disableuserservlet</servlet-name>
        <url-pattern>/disableuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enableuserservlet</servlet-name>
        <url-pattern>/enableuser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
